* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* // 1rem = 10px
  // 10/16 = 62.5 */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 90%;
  transition: 0.2s linear;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #191919;
  color: #ededed;
}

/* #e21f2f */
/* reuse */
/* .flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* .flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.hidden {
  display: none;
}
.grid-3-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 1rem;
}
.grid-2-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
}
.shadow {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* container */

.container {
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* header */
.header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

button {
  font-family: inherit;
  cursor: inherit;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #e21f2f;
  background-color: #ededed;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  margin-left: 10rem;
  border-radius: 1000px;
  transition: all 0.2s;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

button:hover,
button:active {
  background-color: #c21c2a;
  color: #ededed;
  transform: scale(0.95);
}

/* form */
.form-all {
  margin-bottom: 5rem;
}

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  background-color: #ededed;
  color: #e21f2f;
  border-radius: 1000px;
  padding: 1rem 2rem;
  font-weight: 700;
}
.img-icon {
  width: 4rem;
}

select {
  display: inline;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  appearance: #e21f2f;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  color: #ededed;
  border-radius: 1000px;
  border: 2px solid #e21f2f;
  width: 100%;
}

select option {
  color: #e21f2f;
  font-size: 1.8rem;
  border: 1px solid #191919;
}

select:active,
select:focus {
  transition: all 0.3s ease;
  border: 2px solid #fff;
}

.p-3 {
  display: inline;
  font-weight: 600;
  align-items: center;
  font-size: 1.7rem;
  padding-left: 0.8rem;
  text-align: left;
  margin-bottom: 0.7rem;
}

/* media queries */
/* Extra small devices (phones, 320px and up) */
/* iphone SE */
@media only screen and (max-width: 37em) {
  html {
    font-size: 50%;
  }
  .form-all {
    margin-bottom: 4.5rem;
  }
  .container {
    margin: 3rem auto;
    display: inline;
  }
  .header {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 2rem;
    word-spacing: 0.3rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.7rem 0;
    width: 100%;
    margin-left: 0;
  }

  .component {
    font-size: 1rem;
  }

  select {
    padding: 0.4rem;
  }

  .p-3 {
    font-size: 0.8rem;
  }

  .grid-2-2,
  .grid-3-3 {
    gap: 0 0.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 481px  and up) */
/* ipad */
@media only screen and (min-width: 32em) {
  html {
    font-size: 50%;
    font-weight: 600;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* ipad pro */
/* @media only screen and (min-width: 48em) {
    font-size: 62.5%;

  No change is required 
} */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  html {
    font-size: 65%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {
  html {
    font-size: 70%;
  }
}
/* Extra extra large	 */
@media screen and (min-width: 87.5em) {
  html {
    font-size: 80%;
  }
}
