ELASTIC_VERSION=8.10.2
ELASTIC_PASSWORD=change-me
KIBANA_SYSTEM_PASSWORD=change-me
FILEBEAT_INTERNAL_PASSWORD=change-me
LOGSTASH_INTERNAL_PASSWORD=change-me
METRICBEAT_INTERNAL_PASSWORD=change-me
HEARTBEAT_INTERNAL_PASSWORD=change-me
MONITORING_INTERNAL_PASSWORD=change-me
BEATS_SYSTEM_PASSWORD=change-me
